<ul>
    <li class="active"><a href="#/">Home</a></li>
    <li><a ng-href="#/foo"><img src="./images/underconstruction.jpg" alt="En construcción">Foo</a></li>
    <li><a ng-href="#/bar"><img src="./images/underconstruction.jpg" alt="En construcción">Bar</a></li>
    <li><a ng-href="#/the-rolling-stones"><img src="./images/theRollingStoneslogo.jpg" alt="The Rolling Stones">The Rolling Stones</a></li>
    <li><a ng-href="#/the-beatles"><img src="./images/theBeatleslogo.jpg" alt="The Beatles">The Beatles</a></li>
    <li><a ng-href="#/queen"><img src="./images/queenlogo.gif" alt="Queen">Queen</a></li>
</ul>
