<div class="row">
  
	<div class="col-sm-6 col-md-2 col-lg-4">
		<div class="thumbnail">
			<a ng-href="#/the-rolling-stones"><img src="./images/theRollingStoneslogo.jpg" alt="The Rolling Stones"></a>
			<div class="caption">
				<h3><a ng-href="#/the-rolling-stones">The Rolling Stones</a></h3>
				<p>The Rolling Stones, una banda británica de rock originaria de Londres. La banda se fundó en abril de 1962 por Brian Jones, Mick Jagger, Keith Richards, Bill Wyman, Ian Stewart y Charlie Watts.</p>
			</div>
		</div>
	</div>

	<div class="col-sm-6 col-md-2 col-lg-4">
		<div class="thumbnail">
			<a ng-href="#/queen"><img src="./images/queenlogo.gif" alt="Queen"></a>
			<div class="caption">
				<h3><a ng-href="#/queen">Queen</a></h3>
				<p>Queen, una banda británica de rock formada en 1970 en Londres por el cantante Freddie Mercury, el guitarrista Brian May, el baterista Roger Taylor y el bajista John Deacon.</p>
			</div>
		</div>
	</div>

	<div class="col-sm-6 col-md-2 col-lg-4">
		<div class="thumbnail">
			<a ng-href="#/the-beatles"><img src="./images/theBeatleslogo.jpg" alt="The Beatles"></a>
			<div class="caption">
			<h3><a ng-href="#/the-beatles">The Beatles</a></h3>
			<p>The Beatles fue una banda de pop/rock inglesa activa durante la década de 1960, Formada en Liverpool, estuvo constituida desde 1962 por John Lennon, Paul McCartney, George Harrison y Ringo Starr.</p>
			</div>
		</div>
	</div>


	<div class="col-sm-6 col-md-2 col-lg-4">
		<div class="thumbnail">
			<a ng-href="#/foo"><img src="./images/underconstruction.jpg" alt="En construcción"></a>
			<div class="caption">
				<h3><a ng-href="#/foo">Foo</a></h3>
				<p>En construcción</p>
			</div>
		</div>
	</div>

	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<a ng-href="#/bar"><img src="./images/underconstruction.jpg" alt="En construcción"></a>
			<div class="caption">
				<h3><a ng-href="#/bar">Bar</a></h3>
				<p>En construcción</p>
			</div>
		</div>
	</div>

</div>