li{
	list-style: none;
}

ul{
	padding: 0;
}

.thumbnail{        
    width: 300px;
    *height: 500px;
    overflow: auto;
    margin: 0 auto;
    margin-bottom: 15px;
}

.thumbnail img{
    width: 200px;
    margin-top: 1.1em;
}

.img-responsive {
	 margin: 0 auto;
}

@media only screen and (min-width: 768px) {
    .thumbnail{
        height:500px;
    }
}
